@charset "utf-8";

/* pop common */
.pop_overlay{position:fixed;z-index:8000;top:0;left:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap .btn_wrap{margin:20px 0;text-align:center;}
.pop_wrap .btn_wrap button{font-weight:bold;}
.pop_wrap{width:745px;position:fixed;top:50%;left:50%;background-color:#fff;transform:translateX(-50%) translateY(-50%);border:1px solid #192438;}
.pop_body{max-height:695px;margin:1px;padding:18px 18px 0;overflow-y:auto;}
.pop_tit{display:flex;justify-content:space-between;padding:10px 15px;background-color:#334162;}
.pop_tit h1{font-size:16px;font-weight:bold;color:#fff;}
.btn_pop_close{position:relative;top:1px;width:17px;height:17px;background:transparent;}
.btn_pop_close::before{content:'';display:block;width:100%;height:100%;background:url(../images/btn_pop_close.png);}
.tbl_create input{width:100px;}

/* login */
.login_wrap{position:relative;width:100%;height:100%;background-color:#e9ecee;}
.login_wrap::before{position:absolute;display:block;content:'';width:100%;height:470px;background:url(../images/bg_longin.png) 0 0 no-repeat;background-size:cover;box-shadow:0 0 20px 0 rgba(0, 0, 0, .7);}
.login{position:absolute;left:calc(50% - 340px);top:calc(50% - 220px);width:681px;height:451px;text-align:left;border-radius:20px;border:1px solid #d2d6db;background-color:#fff;box-shadow: -3.5px 2px 10px 0 rgba(0, 0, 0, 0.07);}
.login_tit{position:relative;height:176px;text-align:center;border-radius:20px 20px 0 0;}
.login h1{font-size:30px;letter-spacing:-1.5px;line-height:1.2;font-weight:600;color:#fff;padding-top:50px;text-shadow:0 0 10px rgba(0,0,0,.9);}
.login h1 .logo{position:absolute;left:27px;top:33px;display:inline-block;width:203px;height:27px;background:url(../img/kbs_white_logo.svg) 0 0 no-repeat;background-size:contain;font-size:0;font-family:'notokr';}
.login h1 span{font-family:'notokr';font-weight:300;color:#fff;background-color: #faa626;letter-spacing:3px;font-size:18px;padding:0 7px 2px;}
.login_body{border:1px solid #fff;border-radius:0 0 20px 20px;}
.login_input{position:relative;display:block;width:510px;margin:0 auto;}
.login_body span{width:510px;height:56px;margin-bottom:10px;overflow:hidden;}
.login_body span:nth-child(2){margin-bottom:0;}
.login_body input{width:100%;height:100%;padding-left:30px;border:1px solid #d8d8d8;background-color:#fff;font-size:18px;font-weight:bold;vertical-align:top;}
.login_body input::placeholder{color:#999;}
.login_body .btn_login{width:510px;height:70px;margin:24px 0 45px; border:none;cursor:pointer;font-size:22px;font-weight:bold;color:#fff;text-align:center;line-height:70px;transition:.2s;}
.login_body .btn_login:hover{box-shadow:0 0 5px rgba(255,255,255,.5);}
.login .copyright{position:absolute;left:calc(50% - 85px);bottom:-36px;text-align:center;font-size:14px;color:#696969;letter-spacing:-0.07px;}
.user_link .btn_log{width:68px;height:26px;border-radius:3px;background-color:#192438;border-color:#192438;color:#fff;font-size:13px;line-height:26px;text-align:center;}
.user_link .btn_log:hover{background-color:#0d121c;border-color:#0d121c;}

/* Header */
#header{position:absolute;left:0;top:0;z-index:3000;border-bottom:1px solid #c6c9d4;background:#121f35;}
#header.on{height:290px;}
.gnb h1{position:absolute;top:0;left:0;z-index:1;padding:0 30px 0 25px;background-color:#121f35;line-height:74px;}
.gnb{display:block;height:36px;overflow:hidden;}
.gnb>div{padding:0 20px;}
.gnb_list{float:right;color:#000;line-height:36px;}
.gnb_list li{float:left;border-left:1px solid #000;border-right:1px solid #456c91;padding:0 30px;color:#fff;letter-spacing:0;}
.gnb_list li:first-child{border-left-width:0;}
.gnb_list li:last-child{border-right-width:0;padding-right:0;}
.gnb_list .site_status{padding-left:34px;background:url(../images/ico_util.png) 0px 4px no-repeat;background-size: 27px 27px;font-size:12px;color:#c2cad4;letter-spacing:-0.9px;}
.nav{position:relative;height:38px;vertical-align:top;background-color:#fff;}
.nav .inner_wrap{height:inherit;padding:0;background-color:#fff;text-align:left;}
.user_link{position:absolute;z-index:3;display:inline-block;right:0;top:0;height:inherit;padding-right:15px;background:#8895a5;line-height:38px;}
.user_link::before{position:absolute;display:block;content:"";z-index:9999;top:0;left:-26px;width:0;height:0;border-top: 38px solid transparent; border-right: 26px solid #8895a5;}
.user_link li{display:inline-block;}
.user_link .user_name{padding-left:35px;margin-right:32px;background:url(../images/ico_admin.png)5px 6px  no-repeat;font-size:13px;color:#000;}
.lnb_list{position:absolute;left:78px;display:inline-block;width:68%;height:inherit;background:#fff;margin-left:279px;}
.lnb_list::before{display:block;content:"";width:0;height:0;position:absolute;top:0;left:-26px;z-index:9999;border-top:38px solid transparent;border-right:26px solid #fff;}
.nav .inner_wrap::after{display:block;content:"";background:#fff;position:absolute;right:0;top:0;width:50%;height:inherit;z-index:0;}
.lnb_list > li{position:relative;float:left;width:33.3%;height:38px;font-size:15px;letter-spacing:-1.5px;text-align:center;line-height:38px;z-index:1;}
.lnb_list > li > a{width:100%;font-weight:normal\0;font-size:18px;line-height:22px;border-left:1px solid #7f7f7f;margin-top:10px;}
.lnb_list > li:first-child a{border-left:none;}
.lnb_list > li > a:hover,
.lnb_list > li.on > a{font-weight:600;}
.lnb_list .sub_list{position:absolute;left:1px;top:39px;width:100%;height:0;overflow:hidden;border-right:1px solid #e8e8e8;z-index:9999;background:#fff;line-height:28px;transition:.5s ease-in-out;}
.lnb_list:hover .sub_list{height:140px;padding-top:20px;border-bottom:1px solid #003668;}
.lnb_list li:first-child .sub_list{width:calc(100% + 28px);border-left:1px solid #e8e8e8;left:-27px;text-indent:-12px;}
.lnb_list li:last-child .sub_list{width:calc(100%);}
.lnb_list .sub_list li{width:inherit;color:#777;margin-bottom:5px;}
.lnb_list .sub_list li a{width:100%;font-weight:normal;font-size:16px;}
.lnb_list .sub_list>li.on>a,
.lnb_list .sub_list>li>a:hover{font-weight:600;color:#097cb9;}

/* sub_common */
.stit_bg{top:0;height:40px;padding:0 17px;background:#2c425c;}
h2{font-size:16px;font-weight:bold;color:#fff;line-height:40px;}
.contents_wrap{padding:16px;overflow:hidden;}
.tit_h3::before{position:relative;top:3px;display:inline-block;content:'';width:15px;height:22px;margin-right:2px;background:url(../images/ico_h3.png) no-repeat;}
.tit_h3{margin-bottom:12px;font-size:20px;font-weight:bold;color:#555;line-height:22px;}
.ico_arrow{position:relative;left:-8px;display:flex;align-items:center;font-size:38px;color:#6a7789;}

/* main */
.training_wrap{margin:140px 0 47px;}
.training_wrap>div{position:relative;width:301px;height:301px;margin-right:46px;padding:65px 55px 33px; border-radius:10px;background-color:#fff;box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.07);transition:.4s;cursor:pointer;}
.training_wrap>div:hover,
.system_wrap>div:hover{box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.2);}
.training_wrap>div::before{position:absolute;top:-46px;left:calc(50% - 48px);display:block;content:'';width:95px;height:95px;border-radius:48px;border:1px solid #d2d6db;background:#fff url(../images/ico_main.png)no-repeat 0 0;}
.training_wrap>div:nth-child(2):before{background-position-y:20%;}
.training_wrap>div:nth-child(3):before{background-position-y:40%;}
.training_wrap h2, .system_wrap h2{display:block;margin-bottom:20px;font-size:22px;font-weight:bold;color:#000;text-align:center;letter-spacing:-1.1px;}
.training_wrap li button{position:relative;width:100%;margin-bottom:12px;border-radius:2px;line-height:40px;color:#fff;font-size:16px;;letter-spacing:-0.8px;overflow:hidden;transition:0.2s;}
.training_wrap li:last-child button{margin-bottom:0;}
.system_wrap>div{position:relative;width:226px;height:256px;margin-right:24px;padding:110px 0 55px; border-radius:10px;background-color:#fff;box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.07);transition:.4s;cursor:pointer;}
.system_wrap>div::before{position:absolute;z-index:1;top:15px;left:calc(50% - 48px);display:block;content:'';width:95px;height:95px;border-radius:48px;background:#fff url(../images/ico_main.png)no-repeat 0 60%;}
.system_wrap p{font-size:16px;text-align:center;letter-spacing:-0.8px;}
.system_wrap>div:nth-child(1) p{color:#2263c3;}
.system_wrap>div:nth-child(2):before{background-position-y:80%;}
.system_wrap>div:nth-child(2) p{color:#7201ba;}
.system_wrap>div:nth-child(3):before{background-position-y:100%;}
.system_wrap>div:nth-child(3) p{color:#ba7b01;}
.system_wrap>div:last-child{width:246px;padding:25px 20px;}
.system_wrap>div:last-child::before{display:none;}
.training_wrap>div:last-child,
.system_wrap>div:last-child{margin-right:0;}
.system_wrap>div:last-child li{position:relative;padding:6px 0 6px 12px;}
.system_wrap>div:last-child li::before{position:absolute;top:13px;left:0;display:inline-block;content:'';width:5px;height:5px;border-radius:3px;background-color:#9a9a9a;}
.system_wrap>div:last-child p, .system_wrap>div:last-child span{font-size:14px;text-align:left;line-height:20px;color:#a6a6a6;}
.system_wrap>div:last-child p{color:#333;}
.system_wrap>div:last-child li:hover p{text-decoration:underline;}
.system_wrap .tit{margin-bottom:10px;padding-bottom:12px;border-bottom:1px solid #c3c3c3;}
.system_wrap h3{font-size:18px;color:#555;}
.system_wrap .more{margin-top:5px;}
.more{position:relative;text-indent:-9999px;width:15px;}
.more::before,.more::after{position:absolute;content:'';clear:both;width:16px;height:2px;background-color:#000;}
.more::before{top:4px;left:0px;}
.more::after{top:4px;left:0px;transform:rotate(90deg);transition:0.3s;}
.more:hover::after{transform:rotate(-90deg);}
.new_notice p::before{display:inline-block;content:'';width:30px;height:15px;margin-right:5px;background:url(../images/img_labelnew.png);vertical-align:text-bottom;}

/* scenario */
table input,
table select{width:100%;}
table textarea{width:100%;resize:none;height:100px;}
.scenario02 .tbl_row th{width:12%;}
.scenario02 .tbl_row td{width:13%;}
.cancel_wrap.active,.edit_wrap{display:block;}
.cancel_wrap,.edit_wrap.active{display:none;}
.scenario03 .table_wrap{width:900px;margin-right:20px;margin-bottom:0;}
.scenario03 .table_wrap:last-child{margin-right:0;}
.scenario03 .search{flex-wrap:wrap;justify-content:start;}
.scenario03 .search li{margin-bottom:10px;}
.scenario03 .search li:last-child{margin:0;}
.scenario08 .tbl_row th{width:10%;}
.scenario08 .tbl_row td{width:10%;}
.scenario09 .search li{margin-bottom:0;}

/* training */
.training .sequence_training input[type=radio],
.training .sequence_training input[type=checkbox]{display:inline-block;width:20px;}
.training .sequence_training label{display:inline-block;width:100px;vertical-align:middle;}
.attendee_wrap li{display:inline-block;background-color:#ddd;margin-top:4px; padding-right:10px;border-radius:3px;}
.attendee_wrap li::after{content:'\f1b4';font-family:'axicon';vertical-align:middle;cursor:pointer;margin-left:5px;}
.attendee_wrap li span:first-child::after{content:':';margin-left:5px;}
.training .table_wrap.on .ui-jqgrid{position:relative;}
.training .table_wrap .ui-jqgrid::before{position:absolute;top:0;left:0;display:block;content:'';width:100%;height:100%;background:none;z-index:-1;transition:0.2s;}
.training .table_wrap.on .ui-jqgrid::before{background:rgba(0, 0, 0, .4);z-index:9980;}
.training .tbl_row th{width:10%;}

/*result*/
.result .tbl_row th{width:8%;}
.result .tbl_row td{width:12%;}
.result .training_result_wrap .table_wrap{margin-bottom:10px;}

/* pop */
.pop_wrap .tbl_row th{width:15%;}
.p_scenario01 .input_40px{margin:0 2px 0 7px;}
.p_scenario02_1{width:350px;}
.p_scenario02_1 p{margin:20px 0 30px;font-size:15px;}
.p_scenario07{width:1000px;}